body{background-color: #feff00; font-size: 18px;}

h1{color: black; font-weight: bold; font-size: 28px;}

table, td, tr {margin-left: auto; margin-right: auto; font-size: 18px; color: #feff00; border: 1px solid white; background-color: black;}

th {margin-left: auto; margin-right: auto; font-size: 18px; color: white; border: 1px solid white; background-color: black;}

a {color: white;}

.Display{background-color: white; color: black;}

.wrap{ width:90%; border: 1px solid black; margin-top:25px;}

.header{background-color:#feff00; text-align: left; padding:25px; }

.main{padding:25px; }

.footer{text-align: center; padding:25px; }

.headerImg{float:left; width:100px;}

.headerText{float:left; height:75px; padding-top:25px; padding-left:25px;}

.Searchbar{width: 500px;}

.Search{margin: 0 auto;}

.navcontainer { margin-left: 30px; }

 /*Fat Erik's Pipelist*/
 /* http://css.maxdesign.com.au/listamatic/horizontal32.htm*/
 
 .navcontainer{ margin-left: 30px; text-align:left;}
 
 .navlist
 {
 list-style: none;
 padding: 0;
 margin: 0;
 }

 .navlist li
 {
 display: inline;
 padding: 0;
 margin: 0;
 }

 .navlist li:before { content: "| "; }
 .navlist li:first-child:before { content: ""; }

 /*IE workaround*/
 /*All IE browsers*/
 * html #navlist li
 {
 border-left: 1px solid black;
 padding: 0 0.4em 0 0.4em;
 margin: 0 0.4em 0 -0.4em;
 }

 /*Win IE browsers - hide from Mac IE\*/
 * html #navlist { height: 1%; }

 * html #navlist li
 {
 display: block;
 float: left;
 }

 /*End hide*/
 /*Mac IE 5*/
 * html #navlist li:first-child { border-left: 0; }

